// Background colors

$dark-blue: #212C4F, 100%;
$light-gray: #F0F3F5;

// Text colors

$dark-green: #205284;
$dark-grey: #5b6175;
$light-blue: #C6D0EB;
$black: #000;
$white: #FFF;

// Buttons colors

$purple: #7B42F6;
$violet:  #B01EFF;
$pink: #E1467C;
$blue: #3672F8;
$teal: #3672F8;
$green: #A6E1D5;
$turquoise: #14F1D9;

// Finance colors

$midnight: #343D63;
$midnight-blue: #3D639D;
$clear-blue: #3D639D, 70%;


